@media (min-width: 768px) {
  .vertical-writing {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

@media (min-width: 768px) {
  .grad {
    background-image: linear-gradient(to right, #e3bfce, white);
  }
}

@media only screen and (max-width: 768px) {
  .smgrad {
    background-image: linear-gradient(white, #9f7aea);
  }
}
